.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.nav-items ul li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(222, 240, 224);
  border-radius: 10px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
  border-radius: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.rated-btn {
  padding: 10px;
  margin: 5px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  height: 100px;
  width: 200px;
}

.login-btn {
  height: 3rem;
  width: 5rem;
}

.search {
  display: flex;
  margin: 3;
  gap: 3;
}

.filter {
  display: flex;
  gap: 3;
}

.user-card {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 4px;
}
